{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "Chrome >= 57",
          "Firefox >= 52",
          "Opera >= 44"
        ]
      }
    }],
    "@babel/preset-react"
  ]
}
